.expinfo {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-family: 'Open Sans', sans-serif;

}

.expinfo__bottomline {
    border-bottom: black solid;
    margin-bottom: 2%;
}

.expinfo__heading {
    font-weight: 700;
    font-size: 1.6vw;
}

.expinfo__content {
    font-size: 1vw;
    font-weight: 600;
    margin-bottom: 5%;
}

.expinfo__jobtitle {
    margin: 0;
    font-weight: 700;
    font-size: 1.1vw;
}

.expinfo__jobinfo {
    font-weight: 400;
    font-size: 1vw;
}